.animals{
    font-size: 50px;
}
.carousel-fade{
    
}



.center{
display:block;
margin-left:auto;
margin-right:auto;
width:50%;

}
.center2{
    margin-left: auto;
margin-right: auto  ;
display:block;
width:20%;   
}
.Align{
    text-align: right;    
}

.potato{
    font-size: 35px;
}
.hi{
    font-size: 75px;
}
.background{
    color: purple;
}
.greendark{
background: green;
}

.here{
    
}

